# SPDX-FileCopyrightText: 2021 German Aerospace Center (DLR)
#
# SPDX-License-Identifier: MIT

# project
*.ini
*.ics
dist/
gitcalendar.egg-info

# pycharm
.idea/


# pytest
.pytest_cache/
__pycache__/

# python environment
env/
venv/

# licenses
.reuse