# SPDX-FileCopyrightText: 2021 German Aerospace Center (DLR)
#
# SPDX-License-Identifier: MIT

graft Licences* gitcalendar*
include README.md gitlab-config.ini.example

exclude .gitignore *.ini Logo.png requirements.txt

prune test
prune .pytest_cache*
prune venv
prune env
